%section.slice.bg-white
  .wp-section
    .container
      .alert.alert-danger
        %h2{style: "text-align:center"}
          You are not allowed to access this page.
        %p{style: "text-align:center"}
          Try to login first.
          Please contact an admin if this error is unexpected.