%section.slice.bg-white
  .wp-section
    .container
      .alert.alert-danger{style: 'margin-top: 150px'}
        %h2{style: "text-align:center"}
          You are not permitted to access this page.
        %p{style: "text-align:center"}
          Try to
          = link_to 'login', login_path, class: 'alert-link'
          first.
          Please contact an admin in case this error is unexpected.