/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require rails_bootstrap_forms
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$ddglc-color: rgb(30, 0, 97)
$ddglc-color-light: rgb(62, 34, 125)
$ddglc-color-very-light: rgb(83, 41, 171)

@font-face
  font-family: 'Noto'
  font-weight: normal
  font-style: normal
  src: font-url('NotoSans-Medium.ttf') format('truetype')

html
  position: relative
  min-height: 100%

body
  background-color: white
  color: #2c3e50
  font-family: "Noto", "Helvetica Neue", Helvetica, Arial, sans-serif

section
  margin-top: 30px
  margin-bottom: 50px

.project-headline
  color: $ddglc-color
  font-size: 29px
  small
    color: $ddglc-color-light
    a
      color: $ddglc-color-light
      &:hover,
      &:focus
        background-color: transparent
        color: $ddglc-color-very-light

.panel-default.panel-project
  .panel-heading
    color: $ddglc-color
    font-weight: bold
    .panel-title
      font-size: 14px

.alert
  margin-bottom: 0px

.btn-primary.btn-primary-project
  background-color: $ddglc-color
  border: 2px solid $ddglc-color-light
  &:hover
    background-color: $ddglc-color-light

a
  color: $ddglc-color
  &:hover,
  &:focus
    text-decoration: none
    color: $ddglc-color-very-light

a.incognito-link
  color: #2c3e50

#mainNav
  background-color: white
  border-bottom: 1px solid $gray-lighter

  a
    color: $gray-dark
    &:hover
      background-color: $gray-lighter

  .navbar-nav
    .active
      a
        color: $gray-dark
        background-color: white
        &:hover
          background-color: $gray-lighter
  .dropdown.open
    background-color: $gray-lighter
  .dropdown-menu
    .active
      a
        background-color: $gray-lighter

  .navbar-brand
    color: $ddglc-color-light

  #menu
    > li
      width: 130px
      text-align: center

.row-flash-message
  padding-top: 50px

footer
  font-size: 11px
  position: absolute
  margin-top: 50px
  bottom: 0
  width: 100%
  height: 40px
  line-height: 40px
  background-color: white
  border-top: 1px solid $gray-light


