$ddglc-color: rgb(30, 0, 97)
$ddglc-color-light: rgb(62, 34, 125)
$lexicon-color-light: rgb(108, 172, 194)
$lexicon-color-dark: rgb(80, 143, 165)
$attestation-color-light: rgb(163, 148, 179)
$attestation-color-dark: rgb(126, 105, 148)
$manuscript-text-color-light: rgb(165, 83, 144)
$manuscript-text-color-dark: rgb(139, 34, 113)
$bibliography-color-light: rgb(190, 72, 114)
$bibliography-color-dark: rgb(169, 68, 104)



.overview-section
  padding: 0
  margin: 0
  //text-align: left

.overview-section-last
  padding-bottom: 80px


.overview-tab
  background-color: white
  //#lexicon &
  //  background-color: $lexicon-color-light
  //#intro &
  //  background-color: white //$ddglc-color
  //#attestation &
  //  background-color: $attestation-color-light
  //#manuscript-text &
  //  background-color: $manuscript-text-color-light
  //#bibliography &
  //  background-color: $bibliography-color-light


.overview-header
  #lexicon &
    color: $lexicon-color-light
  #attestation &
    color: $attestation-color-light
  #manuscript-text &
    color: $manuscript-text-color-light
  #bibliography &
    color: $bibliography-color-light

  padding-top: 60px
  h2
    font-size: 28px
    text-align: right
    margin-right: 2em

.overview-text-new
  color: white
  line-height: 1.7
  padding: 50px 10px 30px
  p
    margin-bottom: 16px
  #lexicon &
    background-color: $lexicon-color-dark
  #intro &
    background-color: white //$ddglc-color-light
    color: $ddglc-color
  #attestation &
    background-color: $attestation-color-dark
  #manuscript-text &
    background-color: $manuscript-text-color-dark
  #bibliography &
    background-color: $bibliography-color-dark

.overview-links
  padding-top: 20px


.btn-default.circular
  font-size: 10px
  color: white
  background-color: transparent
  -webkit-transition: background 0.3s ease-in-out
  -moz-transition: background 0.3s ease-in-out
  transition: background 0.3s ease-in-out
  border: 2px solid white
  border-radius: 100% !important
  margin: 10px
  #intro &
    color: $ddglc-color
    border:  1px solid $ddglc-color
  &:focus
    color: white
    background-color: transparent
    border: 2px solid white
    #intro &
      color: $ddglc-color
  &:hover
    color: white
    background: rgba(255, 255, 255, 0.4)
    border: 2px solid white
    #intro &
      color: white
      background: $ddglc-color-light

