- content_for :page_title do
  Imprint

%section.col-md-8.col-md-offset-2
  .container
    .page-header
      %h1
        Imprint
        %small Project
    .row
      .col-md-2
        = link_to 'see here', 'http://research.uni-leipzig.de/ddglc/contact.html#imprint', target: :blank