%footer
  .container
    .row
      .col-md-10.text-muted
        Contact:        
        Prof Dr. Tonio Sebastian Richter
        = mail_to 'ddglc@gmx.de', fa_icon('envelope')
        |
        Freie Universität Berlin
        |
        Fachbereich Geschichts- und Kulturwissenschaften
        |
        Ägyptologisches Seminar
      .col-md-2
        = link_to 'Imprint', project_imprint_path
