- content_for :page_title do
  Greek Lemma

%section.col-md-8.col-md-offset-2
  .container
    .page-header
      %h1.lexicon-headline
        Create
        %small= link_to 'Greek Lemma', lemmas_path
        |
          = link_to 'Lexicon', '/lexicon/about'
    = render 'form'